<!-- 
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <p>home works!</p> -->

<!-- </div></div>
   
</div> -->


<div class="mat-app-background wrapper" style="height: 100%">
    <div *ngIf="messages">
        <div *ngFor="let message of messages">
            <div style="padding:20px">
                <mat-card>{{message.text}}</mat-card>
            </div>
        </div>
    </div>


    
 
    <div style="padding:20px">
        <mat-form-field class="example-full-width">
            <mat-label>Escribe un nuevo mensaje</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="text">
        </mat-form-field>
        <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
        <button (click)="createMessage()" mat-flat-button color="primary">Click me!</button>
    </div>
</div>